/* ESTE ARCHIVO SE DEBE IMPORTAR EN Testimonio.js */
.contenedor-testimonio {
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex; /* flexBox -> forma de definir como se van ubicar los distintos elementos en el contenedor */
    align-items: center;
    justify-content: center;
    background-color: #ffffff; 
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%); /* Sombra */
  }
  
  .imagen-testimonio {
    height: 100%;
    width: auto;
  }
  
  .contenedor-texto-testimonio{
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem; /* em significa algo relativo al tamaña es decir si tiene 10px este sera 1.5 veces 10px */
  }
  
  .nombre-testimonio {
    font-size: 1.3rem; /* rem significa */
  }
  
  .cargo-testimonio {
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
  }
  
  .texto-testimonio {
    font-size: 1.1rem;
    text-align: justify;
  }