/* Estilo globales */
/* reiniciar los valores de margin y padding */
* {
    margin: 0;
    padding: 0;
  }
  
  html, 
  body {
    font-size: 18px;
    background-color: #f5f6f7;
  }
  
  h1 {
    max-width: 940px;
    font-size: 2.5em; /* em significa algo relativo al tamaña es decir si tiene 10px este sera 2.5 veces 10px */
    font-family: Lato, sans-serif;
    font-weight: 700;
    line-height: 1.1;/*  altura de la linea */
    margin: 40px 0;
  }
  /* div principal que contiene a la aplicacion esta  en  App.js */
  .App {
    min-height: 100vh;
    display: flex; /* flexBox -> forma de definir como se van ubicar los distintos elementos en el contenedor */
    flex-wrap: wrap; /* flex-wrap: wrap -> si un elemento toma todo el ancho del contenedor, los otros elementos va a ubicarse en la siguiente linea */
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  /*  contenido del componente */
  .contenedor-principal {
    min-height: 600px;
    display: flex; /* flexBox -> forma de definir como se van ubicar los distintos elementos en el contenedor */
    flex-wrap: wrap; /* flex-wrap: wrap -> si un elemento toma todo el ancho del contenedor, los otros elementos va a ubicarse en la siguiente linea */
    align-items: center;
    justify-content: center;
  }